alabaster==0.7.10
appdirs==1.4.3
Babel==2.3.4
decorator==4.0.11
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.5
MarkupSafe==1.0
networkx==1.11
packaging==16.8
pydotplus==2.0.2
pyexcel==0.4.4
pyexcel-io==0.3.2
pyexcel-xls==0.3.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2016.10
requests==2.13.0
six==1.10.0
sliding-window==0.0.2
snowballstemmer==1.2.1
Sphinx==1.5.3
sphinx-rtd-theme==0.2.4
SQLAlchemy==1.1.6
texttable==0.8.7
xlrd==1.0.0
xlwt==1.2.0
yapf==0.16.0
